
@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h1>Forgot Password Confirmation</h1>

@{
    if (string.IsNullOrEmpty(ViewData["Messsage"].ToString()))
    {
        <p>
            The password reset link has been sent, please check your email to reset your password.
        </p>
    }
    else
    {
        <p>
            @ViewData["Messsage"]
        </p>
        <p>
            Please <a asp-action="Login">click here to log in</a>.
        </p>
    }
}

